body {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url(../Asset/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.fadein {
  animation: fadein 0.5s forwards ease;
  transition: all 0.5s ease-in;
}

.fadeout {
  animation: fadeout 0.5s forwards ease;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
